*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    position: relative;
}

#experience-canvas{
    display: block;
    height: 100vh; /*Former 100%*/
    width: 100vh; /*Former 100%*/
}

#addRoadButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}
#addModel1Button {
    position: absolute;
    top: 5px;
    right: 10px; /* Position the button 10px from the right edge */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #198a0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
}
#addModel2Button {
    position: absolute;
    top: 50px; /* Increased the top value to move the button underneath addModel1Button */
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #15ff00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
}
#addModel3Button {
    position: absolute;
    top: 95px; /* Increased the top value to move the button underneath addModel2Button */
    right: 10px; /* Same left value as addModel2Button to align them horizontally */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #15ff00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
}